@import "@monorepo/ui";
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-destructive: var(--destructive);

  --color-auth-title: var(--auth-title);
  --color-auth-subtitle: var(--auth-subtitle);

  --color-aside-background: var(--aside-background);
  --color-header-background: var(--header-background);

  --spacing-header-md: 4.5rem;

  --font-roboto: "Roboto", sans-serif;
  --font-roboto-slab: "Roboto Slab", serif;
  --font-commissioner: "Commissioner", sans-serif;
}

@layer base {
  * {
    @apply font-roboto;
  }
}
