@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0);
  --primary: oklch(65.93% 0.1651 36.38);
  --destructive: oklch(57.71% 0.2151 27.32);

  --button: oklch(65.93% 0.1651 36.38);
  --button-hover: oklch(76.08% 0.1287 48.55);

  --input: oklch(97.02% 0 0);
  --input-text: oklch(34.31% 0.0118 258.37);
  --input-border: oklch(97.02% 0 0);

  --auth-title: oklch(100% 0 0);
  --auth-subtitle: oklch(60.1% 0.0109 252.86);
}

.dark {
  --background: oklch(20.04% 0.0062 271.1);

  --input: oklch(29.67% 0.0078 264.45);
  --input-text: oklch(100% 0 0);
  --input-border: oklch(23.84% 0.0065 258.36);

  --auth-subtitle: oklch(82% 0.0103 267.34);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-destructive: var(--destructive);

  --color-button: var(--button);
  --color-button-hover: var(--button-hover);

  --color-input: var(--input);
  --color-input-text: var(--input-text);
  --color-input-border: var(--input-border);

  --color-auth-title: var(--auth-title);
  --color-auth-subtitle: var(--auth-subtitle);

  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-slab: 'Roboto Slab', serif;
}

@layer base {
  * {
    @apply font-roboto;
  }
}
